@import '../../../theme.scss';

.global_container{
  width: 100%;

  h1{
    margin: 0;
  }

  .input_forms{
    height: 300px;
  }

  select{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    height: 30px;
    border: none; 
    border-bottom: 1px darkgray solid;
    background-color: transparent;
  }

  textarea{
    width: 68%;
    color: white;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    border: none; 
    border: 1px darkgray solid;
    background-color: transparent;
  }

  button{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px darkgray solid;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    outline: none;
  }
}

.report_anchor_tags{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a{
    text-decoration: none;
  }

  p{
    a{
      color: magenta;
      margin: 0;
      padding: 0;
    }
  }
}

@include desktop{
  .report_anchor_tags{
    select{
      width: 100px;
      height: 300px;
    }
  }

  textarea{
    height: 400px;
    display: block;
  }
}