<div class='global_container'>

  <h1> register </h1>

  <div class='input_forms'>

    <input placeholder="name"/>

    <input placeholder="age"/>

    <select class="selector">
      <option value='blank'>Select occupation</option>
      <option>alien hunter</option>
      <option>yoga teacher</option>
      <option>dust farmer</option>
      <option>front-end developer</option>
    </select>

    <a href='/encounters'>Next</a>

  </div> <!-- close of input forms -->

  <a href=' '>Home</a>

</div>   