 .global_container{
  background: url('../../../../asset/mars.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1{
  margin: 0 auto;
  width: inherit;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 54px;
  padding-top: 70px;
} 

a{
  color: white;
}

.input_forms{
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

input, select{
   border: none; 
  border-bottom: 1px darkgray solid;
  color: white;
  background-color: transparent;
  width: 95%;
  height: 50px;
  font-size: 26px;
  padding-left: 20px;
}

select{
  width: 97%;
  background: transparent;
  color: gray;
}