<div class='global_container'>

  <h1> register </h1>

  <div class='input_forms'>

    <form [formGroup]='registerForm' novalidate (submit)='registerColonist()'>

      <!--formcontrolname grabs and must match wat was implemented on the typescript file registerForm.  -->

    <input type="text" formControlName='name' placeholder="Name"/>

    <input type="number" formControlName='age' placeholder="Age"/>

        <select formControlName='job_id'>
          <option value=''>Select occupation</option>

        <!--ngFor HAS to be LET "random var" of "data type like jobs:something"  -->
          <option *ngFor='let job of jobs' value="{{job.id}}">{{job.name}}</option>
        </select>

      <button [disabled]='registerForm.status === "INVALID"' type="submit">register</button>
      
    </form>

    {{registerForm.value | json}}
      {{registerForm.controls}}  

  </div> <!-- close of input forms -->

  <a href='/encounters'>Next</a>

  <a href=' '>Home</a>

</div>   

<!--[ngClass]= '{warning: data.length > 10}' 
this will add class as soon as the length hits 10-->

<!--[style.color]= "data.length > 4 ? 'white' : 'lightpink '" 
this will add color of white when length is over 4 and keep the color lightpink before-->

<!--*ngIf='data.length > 10'> your list is too long!  
this will run the content when the data length ONLY reaches over 10-->

<!--(click)=''
angular event listener for click-->

