.global_container{
  background: url('../../../../asset/mars.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1{
  margin: 0 auto;
  width: inherit;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 54px;
  padding-top: 70px;
}