

                                                                                  a{
                                                                                    color: white;
                                                                                  }

.input_forms{
  height: 50%;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select{
  border: none; 
  border-bottom: 1px darkgray solid;
  color: white;
  background-color: transparent;
  width: 95%;
  height: 50px;
  font-size: 26px;
  padding-left: 20px;
}

select{
  width: 97%;
  background: transparent;
  color: white;
}

#test option{
  color: red;
}

select:first-child{
    color: gray;
} 

.button_container {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  width: 320px;
}

.text_highlight {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

.button_container:hover .text_highlight {
  -webkit-animation: 0.7s draw linear forwards;
  animation: 0.7s draw linear forwards;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

button:disabled,
button[disabled]{
  opacity: 0;
}

button{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
}