@import '../../../theme.scss';

.global_container{
  a{
    text-decoration: none;
  }

  p{
    padding: 0;
    margin: 0;
  }

  h1{
    padding: 0;
    margin: 0;
  }
}

form{
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;

  input, select{
    border: none; 
    border-bottom: 1px darkgray solid;
    background-color: transparent;
    width: 95%;
    height: 50px;
    font-size: 26px;
    padding-left: 20px;
    margin-top: 50px;
  }  

  select{
    width: 97%;
    margin-top: 50px; 
    background: transparent;
  }
}

button:disabled,
button[disabled]{
  opacity: 0;
}

.button_container {
  outline: none;
  height: 60px;
  margin: 100px auto;
  margin-left: 15px;
  width: 320px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
  padding: 0;
  border: none;
  background-color: rgba(40,40,40,0.5);
  text-transform: uppercase;

  @include desktop{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }

  .text_highlight {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
    fill: transparent;
  }

  .text {
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
    text-align: center;
  }
}

.button_container:hover .text_highlight {
  -webkit-animation: 0.7s draw linear forwards;
  animation: 0.7s draw linear forwards;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

.text_highlight{
  position: absolute;
  top: 0;
  left: 0;
}