<div class='global_container'>

  <a routerLink='/'>Return Home</a>   

  <h1> register </h1>
  
  <div class='input_forms'>

    <form [formGroup]='registerForm' novalidate (submit)='registerColonist()'>

    <input type="text" formControlName='name' placeholder="Name"/>
    <p>(Please enter your name with a minimum of two characters and no numbers)</p>

    <input type="number" formControlName='age' placeholder="Age"/>
    <p>(Age must be above twenty and below eighty)</p>
    

        <select formControlName='job_id'>
          <option value=''>Select occupation</option>

          <option *ngFor='let job of jobs' value="{{job.id}}">{{job.name}}</option>
        </select>

      <button [disabled]='registerForm.status === "INVALID"' type="submit" class="button_container">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="text_highlight" height="60" width="320" /> 
      </svg>
       <div class="text">register</div>
      </button>
      
    </form>
    
  </div> <!-- close of input forms -->

</div>   

