.global_container{
  overflow: hidden;

  h1{
    font-size: 55px;
  }

  .encounter_action{
    color: hotpink;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  ul{
    height: 450px;
    color: white;
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    list-style: none;
    margin-top: 15px;

    li{
      color: white;
      padding-top: 30px;

      p{
        word-wrap: normal;
        padding-right: 10px;
      }

      span{
        font-family: SPACECRAFT;
      }

      ::before{
        content: '- ';
        padding-left: 10px;
      }
    }
  }
}

::-webkit-scrollbar{
      display: none;
    }

button{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
}