@import '../../../theme.scss';

.global_container{
  overflow: hidden;

  h1{
    font-size: 55px;
  }

  .encounter_action{
    color: hotpink;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  ul{
    height: 450px;
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    list-style: none;
    margin-top: 15px;

    @include desktop{
      margin-left: 100px;
    }

    li{
      padding-top: 30px;

      p{
        word-wrap: normal;
        padding-right: 10px;
      }

      ::before{
        content: '- ';
        padding-left: 10px;
      }
    }
  }
}

::-webkit-scrollbar{
      display: none;
    }

button{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px darkgray solid;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  margin-top: 20px;
  width: 200px;
  outline: none;
}