@import 'fonts';
@import 'theme';

body{
  margin: 0;
  background-color: black;
  width: 100vw;
}

 .global_container{
  background: $site_background_image;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1{
  margin: 0 auto;
  width: inherit;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  padding-top: 50px;
  font-family: $header_font;
  font-weight: normal;
}

p{
  font-family: $text_font;
}

span{
  font-family: $alien_font;
}

a{
  text-transform: none;
}

input, select, button, a, p, li{
  color: $primary-color;  
}

button, a{
  font-family: $button_font;
}

input{
  outline: none;
}