<div class='global_container'>

  <h1> Alien whaaaat? </h1>

  <div class='input_forms'>

    <form [formGroup]='createAlien' novalidate (submit)='registerAlien()'>    
      <input type="text" formControlName='type' placeholder="type"/>
      <input type="text" formControlName='submitted_by' placeholder="submitted_by"/>
      <input type="number" formControlName='id' placeholder="id"/>  
      <input type="text" formControlName='description' placeholder="description"/> 
      <button type="submit">register</button> 
    </form> 
  </div> <!-- close of input forms -->

  <div class='nav_buttons'>
    <a routerLink='/report'>Back</a>
    <a routerLink='/' class='home_button'>Home</a>
  </div>
</div>   